<div *ngIf="jobDetail">
  <div class="panel panel-default">
    <div class="panel-heading">{{jobDetail.title}}</div>
    <div class="panel-body">
      {{jobDetail.company}} <br>
        {{jobDetail.city}} - {{jobDetail.zipcode}} <br>
        {{jobDetail.contact}} <br>
        <hr>
        publié le {{jobDetail.publishdate | toShortDate}} <br>
        actualisé le {{jobDetail.lastupdate | toShortDate}} <br>
        salaire : {{jobDetail.salary}} {{jobDetail.currency}} <br>
        <hr>
        <b>descriptif du poste</b>
        <div>
          {{jobDetail.description}}
        </div>
        <hr>
        <div>
          date de démarrage : {{jobDetail.startdate | toShortDate }} <br>
        </div>
    </div>
  </div>
</div>

<div *ngIf="error">
  <pre>{{error | json }}</pre>
</div>

<div *ngIf="error">
  <pre>{{error | json }}</pre>
</div>